@import "tailwindcss";

@theme {
  --color-kakao: #FEE500;
  --color-brand-black: #1F1F1F;
  --color-brand-navy: #0E1A28;
  --color-brand-blue: #3545D6;
  --color-brand-blue-light: #5363EE;
  --color-brand-lime: #C2F750;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
 
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}
