spring:
  profiles:
    active: ${SPRING_PROFILE:dev}
  application:
    name: editus-backend
  redis:
    host: localhost
    port: 6379

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.editus.backend: INFO
    org.springframework.web: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

